<div class="container">

  
        
            
            
    <div class="card">
    <div class="card-header text-center bg-secondary ">My contacts</div>
    <div class="card-body">
       
      
        <div class="form-group">
          <label  class="form-label">Mot cle</label>
          <input type="text" class="form-control" required #nom="ngModel" 
          [(ngModel)]="motCle"   name="motCle" width="40px">
           <button  class=" btn btn-primary mt-2 text-center" (click)="onSearch()">Chercher</button>
    </div>

    <table class="table">
        <thead>
            <tr>
         <th>id</th>
         <th>Nom</th>
         <th>Prenom</th>
         <th>Date Naissance</th>
         <th>Email</th>
         <th>Telephone</th>
         <th>Photos</th>
            </tr>
        </thead>
        <tbody>
        <tr *ngFor=" let c of co?.content">
          <td>{{c.id}}</td>
          <td>{{c.nom}}</td>
          <td>{{c.prenom}}</td>
          <td>{{c.DateNaisssance}}</td>
          <td>{{c.email}}</td>
          <td>{{c.tel}}</td>
          <td ><img src="../assets/image/{{c.photo}}" class="rounded-circle float-start"
            width="100" height="100"
            /></td>
       
        <td >
          <button class="btn btn-danger" (click)="deleteContact(c)"  ><i class="bi bi-trash"></i></button>
      </td>
      <td>
          <button  (click)="modifier(c)" ><i class="bi bi-pen"></i></button>
      </td>
      
        </tr>
      </tbody>
       <tfoot>

       </tfoot>
     </table>
    <div class="container">

    <ul class="nav nav-pills">
      <li  [ngClass]="{'btn-primary':i==currentPage}" *ngFor="let p of pages let i=index" class="btn ">
      <a (click)="goToPage(i)">{{i}}</a>
      </li>
    </ul>
   
    </div>

    </div>
    
    </div> 
    </div>
    
